body {
    font: .9em "Trebuchet MS", Arial, Helvetica, sans-serif;
    line-height: 1.2;
    margin: 0;
    padding: 1.5em 20px;
}

a {color:inherit;}
a img {border:none;}

.module_name .sprite {
    float: right;
}

#header {
    margin:0 0 3em;
    border-radius: 1em;
    box-shadow:5px 5px 10px #888888;
    background: #80B5FF;
    border:0.2em solid #63A4FF;
    color: #000;
    font-weight:bold;
    padding:0 1em;
    position:relative;
}
#header .s-camelia-logo{
    float:right;
    position:relative;
    right:-2em;
    top:-1.5em;
    z-index:1;
    margin-bottom: -3.5em;
}
h2 {margin:20px 0 0 0;}

#my_search_box input,
#content, #about p {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#header, #content {
    margin: auto;
    max-width: 1200px;
}

footer,
#about {
    background: #ebf3ff;
    border: 1px solid #c2dbff;
    border-radius: 1em;
    padding: 40px 5px 0px;
    margin-top: -40px;
}

#about p {
    padding: 3px 20px;
    font-size: 110%;
    line-height: 1.5em;
    margin-bottom: -5px;
    text-align: justify;
}

@media (max-width: 665px) {
    #about p {
        width: auto;
        float: none;
    }
}

#about:after {
    content: '';
    display: block;
    clear: both;
}

footer {
    margin: 20px 0 0;
    padding: 0 30px;
}

#json_link {float:right;margin-top:-22px;font-size:smaller;}

h1 a { text-decoration: none; }

dl.table-display {
    float: left;
    width: 800px;
    margin: 1em auto 0 auto;
    padding: 0;
    border-bottom: 1px solid #999;
}

.table-display dt {
    clear: left;
    float: left;
    width: 270px;
    margin: 0;
    padding: 5px;
    border-top: 1px solid #999;
    font-weight: bold;
}

.table-display dd
{
    float: left;
    width: 510px;
    margin: 0;
    padding: 5px;
    border-top: 1px solid #999;
}

.badges i {
    vertical-align: middle;
}

#module_list > table {
    width: 100%;
    margin-top: 20px;
}

table, tr, th, td {
    border-collapse: collapse;
}

td {
    padding: 3px 5px;
}

tbody tr {
    border: 1px solid #eaeaea;
}

tr:nth-child(odd) td {
    background: #fafafa;
}

#my_search_box {
    text-align: center;
    margin: 3px auto;
    background: #fafafa;
    border: 1px solid #ccc;
    border-radius: .5em;
    padding: 10px;
}

#my_search_box input {
    width: 100%;
    font-size: 120%;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
}

.module_name {
  line-height: 2em;
}

.list .description {
    min-width: 16em;
}

.list .stargazers {
    min-width: 5em;
}

.list .open_issues {
    min-width: 8em;
}

.list .last_updated {
  min-width: 6em;
}

.travis,
.last_updated,
.stargazers,
.open_issues,
.badges {
    text-align: center;
}

.last_updated,
.badges {
    white-space: nowrap;
}

#module_list tbody .travis {
    padding: 0 5px;
    white-space: nowrap;
    font-size: 95%;
    background: #a2a2a2;
    background: -ms-linear-gradient(top,  #a2a2a2 0%,#909090 100%);
    background: linear-gradient(to bottom,  #a2a2a2 0%,#909090 100%);
}

#module_list tbody .travis:hover {
    background: #a2a2a2;
}

#module_list tbody .travis-passing {
    background: #50ca22;
    background: -ms-linear-gradient(top,  #50ca22 0%,#3eb810 100%);
    background: linear-gradient(to bottom,  #50ca22 0%,#3eb810 100%);
}

#module_list tbody .travis-passing:hover {
    background: #50ca22;
}

#module_list tbody .travis-pending {
    background: #dbb428;
    background: -ms-linear-gradient(top,  #dbb428 0%,#c9a216 100%);
    background: linear-gradient(to bottom,  #dbb428 0%,#c9a216 100%);
}

#module_list tbody .travis-pending:hover {
    background: #dbb428;
}

#module_list tbody .travis-failing {
    background: #dc6750;
    background: -ms-linear-gradient(top,  #dc6750 0%,#ca553e 100%);
    background: linear-gradient(to bottom,  #dc6750 0%,#ca553e 100%);
}

#module_list tbody .travis-failing:hover {
    background: #dc6750;
}

#module_list tbody .travis a {
    text-decoration: none;
    color: #fff;
    text-shadow: 1px 1px #333;
    display: block;
    height: 32px;
    line-height: 32px;
}

#module_list tbody .travis- {
    font-size: 80%;
    background: #ddd;
}

#module_list tbody .travis- a {
    text-shadow: none;
    color: #333;
}

#module_list tbody .travis-:hover {
    background: #ccc;
}

@media (max-width: 867px) {
    .name {
        display: block;
        width: 12em;
        overflow-wrap: break-word;
        word-wrap: break-word;
    }
}

table.tablesorter thead tr .header {
    cursor: pointer;
}

table.tablesorter thead tr .header i {
    float: right;
    margin-top: 3px;
    margin-left: -21px;
}

table.tablesorter thead tr .headerSortDown,
table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
}

.legend .sprite {
    vertical-align: middle;
}
