projects.state
config.proto
*.pir
cache/*
*~
_build
Build
github-token
public/sass/.sass-cache/
public/sass/sprite.css
public/sass/cerulean.scss
public/sass/cerulean/
public/packed/
public/content-pics/dist-logos/
modulesperl6.db
building-modulesperl6.db
bin/hypnotoad.pid
secrets
dist.ini
META.list.local
ModulesPerl6-*
.build
public/proto.json
