projects.state
config.proto
*.pir
cache/*
*~
_build
Build
github-token
public/sass/.sass-cache/
public/sass/sprite.css
public/sass/cerulean.scss
public/sass/cerulean/
public/packed/
public/content-pics/dist-logos/
public/sprite.css
public/sprite.png
modulesperl6.db
building-modulesperl6.db
bin/hypnotoad.pid
t/03-app/public/packed/
t/03-app/public/sass/
secrets
dist.ini
META.list.local
ModulesPerl6-*
.build
public/proto.json
MYMETA.json
MYMETA.yml
assets/assetpack.db
assets/cache
t/03-app/public/sprite.css
t/03-app/public/sprite.png
/log/
/public/update.log
