$color-link: #2FA4E7;
$color-panel-primary-bg: $color-link;
$text-color-muted: #aaa;
$line-color-muted: #eee;
$text-color-body: #333;

html {
    overflow-y: scroll;
}

nav.navbar {
    margin-bottom: 0;

    div.container {
        a {
            color: $text-color-body;
        }
        a:hover {
            background: $line-color-muted;
        }
    }
}

@media (min-width: 768px) {
    .page_search [name="q"]{
        min-width: 30em;
    }
}

.page_index {
    h1 {
        text-shadow: 1px 1px 1px rgba(.3, .3, .3, .2);
    }

    .navbar {
        .navbar-nav {
            display: inline-block;
            float: none;
        }

        .navbar-collapse {
            text-align: center;
        }

        #bs-navbar-collapse-1 {
            line-height: 0;
        }
    }
}

.shy-list {
    margin-left: 0;
    padding-left: 0;
    > li {
        list-style: none;
    }
}

.appveyor,
.travis,
.github {
    display: inline-block;
    padding-left: 20px;
    min-height: 16px;
    background: url(/pics/travis-icon.png) left no-repeat;
    vertical-align: middle;
}

.appveyor {
    background-image: url(/pics/appveyor-icon.png);
}
.github {
    background-image: url(/pics/github-icon.png);
}

#index-search-form {
    padding: 100px 2px;
    text-align: center;

    h1 {
        margin-top: 5px;
        letter-spacing: -1px;
    }

    form {
        display: inline-block;
        min-height: 146px;
        min-width: 600px;
        padding-right: 210px;
        background: url(/pics/camelia.png) right no-repeat;
    }
}

@media (max-width: 768px) {
    #index-search-form {
        padding-top: 0;

        form {
            min-width: 190px;
            display: block;
            padding: 146px 10px 0;
            background-position: top;
        }
    }
}


.page_index .tags-list {
    margin: 20px;
}
.tags-list {
    list-style: none;

    li {
        display: inline-block;
        margin-bottom: 4px;
        margin-right: 4px;

        .btn-default { background: #F5F5F5 }
        a {
            small {
                font-size: 70%;
            }
        }
    }

    .weak-tag {
        a.btn-default {
            background: #e5e5e5;
        }
    }

    #weak-tag-expander a {
        background: #96D1F3;
    }
}

footer {
    text-align: center;
    opacity: .6;
    transition: opacity 1s;
}

footer:hover {
    opacity: 1;
}

#dist-list,
#core-dist-list {
    h2 {
        font-size: 170%;
        b {
            font-size: 70%;
            font-weight: 600;
        }
    }

    > li {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid $line-color-muted;
    }

    ul {
        margin-left: 0;
        padding-left: 0;
        overflow: hidden;
        font-size: 90%;
        text-shadow: 1px 1px 1px rgba(.3, .3, .3, .16);
        vertical-align: middle;

        li {
            padding: 0 10px;
            margin: 0;
            list-style: none;
            display: inline-block;
        }
        li:last-child a:last-child {
            color: $text-color-body;
        }
        li:first-child {
            width: 3.5em;
            padding: 0;

            i {
                color: darken(yellow, 10%);
            }

            + li,
            + li + li {
                width: 3.5em;
                padding: 0;
            }
            + li + li + li {
                width: 3.5em;
                padding: 0 0 0 5px;
            }

        }

        .glyphicon-ok {
            color: green;
        }
        .glyphicon-info-sign,
        .glyphicon-remove {
            color: red;
        }

        + div {
            margin-top: 10px;
        }
    }
}

#core-dist-list {
    p {
        margin-bottom: 0;
    }
}

.source-cpan,
.source-gitlab,
.source-github {
    vertical-align: middle;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(/pics/github-icon.png);
    text-indent: -9999px;
    overflow: hidden;
}
.source-gitlab {
    background: url(/pics/gitlab-icon.png);
}
.source-cpan {
    background: url(/pics/cpan-icon.png);
}

#donation-bar {
    text-align: center;
    padding: 10px 0;
    margin: 0;
    text-shadow: 1px 1px 1px rgba(.3, .3, .3, .16);

    a {
        text-shadow: 1px 1px 1px rgba(.3, .3, .3, .1);
    }
}

#todo-issues {
    th {
        border-bottom: 0;
    }
    td {
        vertical-align: middle;
    }

    .problem {
        font-size: 90%;
    }

    .other-problem {
        border-top: 0;
    }
}

#donation-bar {
    border-bottom: 1px solid rgba(.1, .1, .1, .05);
}

.files-list {
    .glyphicon {
        margin-right: 5px;
    }
    .glyphicon-file {
        color: #CCC;
    }
}

