<TMPL_LOOP projects>
<tr>
  <td class="module_name">
    <a target="_blank" href="<TMPL_VAR URL>"><span class="name"><TMPL_VAR NAME></span></a>
    <TMPL_IF logo>
      <i class="sprite s-<TMPL_VAR logo_sprite>"></i>
    </TMPL_IF >
  </td>
  <td class="description">
    <TMPL_VAR description>
  </td>
  <td class="badges">
    <TMPL_IF badge_has_readme>
      <a href="<TMPL_VAR badge_has_readme>"
          ><i class="sprite s-readme" title="Has a README"></i
      ></a>
    <TMPL_ELSE>
      <i class="sprite s-unachieved" title="Doesn't have a README"></i>
    </TMPL_IF>
    <TMPL_IF badge_has_tests>
      <i class="sprite s-tests" title="Has tests"></i>
    <TMPL_ELSE>
      <i class="sprite s-unachieved" title="Doesn't have tests"></i>
    </TMPL_IF>
    <TMPL_IF badge_panda_nos11>
      <i class="sprite s-panda_nos11" title='Conforms to the latest stable Perl 6 modules specs (without the experimental S11)'></i>
    <TMPL_ELSE>
      <TMPL_IF badge_panda>
        <i class="sprite s-panda" title='Conforms to the latest stable and experimental Perl 6 modules specs.'></i>
      <TMPL_ELSE>
        <i class="sprite s-unachieved" title="Not quite up-to-date with the specs"></i>
      </TMPL_IF>
    </TMPL_IF>
  </td>
  <td class="travis">
     <TMPL_IF travis>
        <a target="_blank" href="https://travis-ci.org/<TMPL_VAR auth>/<TMPL_VAR repo_name>"><img src="assets/images/build-<TMPL_VAR travis_status>.png"></a>
        <span style="display: none"><TMPL_VAR travis_status></span>
      <TMPL_ELSE>
        <span style="display: none">ZZZ</span>
     </TMPL_IF>
  </td>
  <td class="stargazers">
    <a target="_blank" href="<TMPL_VAR URL>/stargazers"><TMPL_VAR stargazers></a>
  </td>
  <td class="open_issues">
    <a target="_blank" href="<TMPL_VAR URL>/issues"><TMPL_VAR open_issues></a>
  </td>
  <td class="last_updated">
    <TMPL_VAR last_updated>
  </td>
</tr>
</TMPL_LOOP>