<TMPL_LOOP projects>
<tr>
  <td class="module_name">
    <a target="_blank" href="<TMPL_VAR URL>"><span class="name"><TMPL_VAR NAME></span></a>
    <TMPL_IF logo>
      <img class="project-logo" src="<TMPL_VAR logo>" alt="">
    </TMPL_IF >
  </td>
  <td class="description">
    <TMPL_VAR description>
  </td>
  <td class="badges">
    <TMPL_IF badge_has_readme>
      <a href="<TMPL_VAR badge_has_readme>"
          ><img src='readme.png' title='Has a README' alt="Has README"
      ></a>
    <TMPL_ELSE>
      <img src='unachieved.png' title="Doesn't have a README" alt="No readme">
    </TMPL_IF>
    <TMPL_IF badge_has_tests>
      <img src='tests.png' title='Has tests' alt="Has tests">
    <TMPL_ELSE>
      <img src='unachieved.png' title="Doesn't have tests" alt="No tests">
    </TMPL_IF>
    <TMPL_IF badge_panda_nos11>
      <img src='panda_nos11.png'
        title='Conforms to the latest stable Perl 6 modules specs (without the experimental S11)'
          alt="Bronze Panda">
    <TMPL_ELSE>
      <TMPL_IF badge_panda>
        <img src="panda.png" title='Conforms to the latest stable and experimental Perl 6 modules specs.'
          alt="Golden Panda">
      <TMPL_ELSE>
        <img src='unachieved.png' title='Not quite up-to-date with the specs'
          alt="Not up-to-date with spects">
      </TMPL_IF>
    </TMPL_IF>
  </td>
  <td class="travis">
     <TMPL_IF travis>
        <a target="_blank" href="https://travis-ci.org/<TMPL_VAR auth>/<TMPL_VAR repo_name>"><TMPL_VAR travis_status></a>
     </TMPL_IF>
  </td>
  <td class="stargazers">
    <a target="_blank" href="<TMPL_VAR URL>/stargazers"><TMPL_VAR stargazers></a>
  </td>
  <td class="open_issues">
    <a target="_blank" href="<TMPL_VAR URL>/issues"><TMPL_VAR open_issues></a>
  </td>
  <td class="last_updated">
    <TMPL_VAR last_updated>
  </td>
</tr>
</TMPL_LOOP>