<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-US">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	    <link rel="icon" href="/favicon.ico" type="favicon.ico" />
        <title>Proto - A module installer for Perl 6</title>
<style>
body {
	font-family:helvetica,arial,sans-serif;
	color:#000;
    padding-bottom: 2em;
}
a {color:#000;}
#about {margin: 0 auto 0 auto;width: 320px; text-align: justify}
#content {margin: 0 auto 0 auto;width: 620px}

dl.table-display {
	float: left;
	width: 620px;
	margin: 1em auto 0 auto;
	padding: 0;
	border-bottom: 1px solid #999;
}

.table-display dt {
	clear: left;
	float: left;
	width: 200px;
	margin: 0;
	padding: 5px;
	border-top: 1px solid #999;
	font-weight: bold;
}

.table-display dd
{
	float: left;
	width: 400px;
	margin: 0;
	padding: 5px;
	border-top: 1px solid #999;
}
</style>

    </head>
    <body>
        <h1>Proto - A module installer for Perl 6</h1>
        <h2>Project list</h2>
        <div id="about">
            Proto is a hyper-lightweight dependency tracking and module installation
            system.  It's only purpose is to help you set up a running environment
            where you can play with Perl 6 modules with minimal hassle.  It is not
            to be taken too seriously.  It is not a full-fledged module installation
            system, as Parrot's Plumage aims to be.  It is a prototype; in fact, its
            very name was chosen to indicate this fact.  It is currently trying to
            prototype ideas for the loadable module ecosystem of Rakudo *, which can
            also handle multiple copies of modules distinguished by :auth and :ver
            name parts.  But nothing lasts forever, especially in this installer.
        </div>
        <div id="content">
        <p><a href="proto.json">JSON version of this list</a>.</p>
        <dl class="table-display">
        <TMPL_LOOP projects>
            <TMPL_IF description>
            <dt><a href="<TMPL_VAR URL>"><TMPL_VAR NAME></a></dt><dd>
                <TMPL_VAR description></dd>
            </TMPL_IF>
        </TMPL_LOOP>
        </dl>
     </div>
    </body>
</html>
