body {
    font: .9em "Trebuchet MS", Arial, Helvetica, sans-serif;
    line-height: 1.2;
    margin: 0;
    padding: 1.5em 20px;
}

a {color:inherit;}
a img {border:none;}

.project-logo {
    text-align: right;
}
.project-logo img {
    width: 32px;
}

#header {
    margin:0 0 3em;min-height:200px;
    border-radius: 1em;
    box-shadow:5px 5px 10px #888888;
    background: #80B5FF;
    border:0.2em solid #63A4FF;
    color: #000;
    font-weight:bold;
    padding:0 1em;
    position:relative;
}
#header img{
    border:0 none;
    float:right;
    position:relative;
    right:-2em;
    top:-1.5em;
    z-index:1;
    margin-bottom: -1.5em;
}
h2 {margin:30px 0 0 0;}

#my_search_box input,
#content, #about p {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#header, #content {
    margin: auto;
    max-width: 1200px;
}

footer,
#about {
    background: #ebf3ff;
    border: 1px solid #c2dbff;
    border-radius: 1em;
    padding: 40px 10px 10px;
    margin-top: -20px;
}

#about p {
    width: 50%;
    padding: 3px 20px;
    float: left;
    font-size: 110%;
    line-height: 1.5em;
}

@media (max-width: 665px) {
    #about p {
        width: auto;
        float: none;
    }
}

#about:after {
    content: '';
    display: block;
    clear: both;
}

footer {
    margin: 20px 0 0;
    padding: 0 30px;
}

#json_link {float:right;margin-top:-22px;font-size:smaller;}

h1 a { text-decoration: none; }

dl.table-display {
    float: left;
    width: 800px;
    margin: 1em auto 0 auto;
    padding: 0;
    border-bottom: 1px solid #999;
}

.table-display dt {
    clear: left;
    float: left;
    width: 270px;
    margin: 0;
    padding: 5px;
    border-top: 1px solid #999;
    font-weight: bold;
}

.table-display dd
{
    float: left;
    width: 510px;
    margin: 0;
    padding: 5px;
    border-top: 1px solid #999;
}

.badges img {
    height: 20px;
    vertical-align: middle;
}

img.valign {
    vertical-align: middle;
}
#module_list > table {
    width: 100%;
    margin-top: 20px;
}

table, tr, th, td {
    border-collapse: collapse;
}

td {
    padding: 3px 5px;
}

tbody tr {
    border: 1px solid #eaeaea;
}

tr:nth-child(odd) td {
    background: #fafafa;
}

#my_search_box {
    text-align: center;
    margin: 3px auto;
    background: #fafafa;
    border: 1px solid #ccc;
    border-radius: .5em;
    padding: 10px;
}

#my_search_box input {
    width: 100%;
    font-size: 120%;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
}

.list .description {
    min-width: 16em;
}

.travis,
.last_updated,
.badges {
    text-align: center;
}

.last_updated,
.badges {
    white-space: nowrap;
}

.travis * {
    vertical-align: middle;
}

.add_travis {
    font-size: 80%;
    color: #999;
    text-decoration: none;
    border: 1px solid #cacaca;
    padding: 3px;
    border-radius: 3px;
    background: #ddd;
    color: #333;
    display: inline-block;
}

.add_travis:hover {
    background: #ccc;
}

@media (max-width: 867px) {
    .name {
        display: block;
        width: 12em;
        overflow-wrap: break-word;
        word-wrap: break-word;
    }
}
